<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Batch Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>  <a class="navbar-brand" th:href="@{/headmaster/loadHeadmasterHomepage}">Batch Management System</a> </h1>

    <hr>
    <h2>Update Batches</h2>

    <form th:action="@{/headmaster/updateBatch}" th:object="${batch}" method="POST">


        <input type="hidden" th:field="*{batchID}"/>

        <input type="text" th:field="*{batchCode}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Batch</button>
    </form>

    <hr>

    <a th:href="@{/headmaster/loadHeadmasterHomepage}"> Back to Headmaster Page</a>
</div>
</body>
</html>