<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <title>List Of My Marks<h1></title>
    <a th:href="@{/student/loadStudentHomepage}">Home</a>
</head>
<body>


    <div th:if="${param.success}">
        <div class="alert alert-info">Batch Details Updated!</div>
    </div>
    <div th:if="${param.deletesuccess}">
        <div class="alert alert-info">Batch Details Updated!</div>
    </div>
    <h1>List Marks</h1>
    <table class="table" border="1">
        <thead>
        <tr>
            <th> Exam Name</th>
            <th> Exam Type</th>
            <th> Marks</th>
            <th> Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mark : ${marks}">
            <td th:text="${mark.exam.examName}"></td>
            <td th:text="${mark.exam.examType}"></td>
            <td th:text="${mark.marks}"></td>
            <td th:text="${mark.grade}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>