<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <title>List Of Students</title>
    <a  th:href="@{/headmaster/loadHeadmasterHomepage}">Home</a>

    <a th:href="@{/headmaster/listAllCourses}">List All Courses</a>

    <a th:href="@{/headmaster/listAllTeachers}">List All Teachers</a>

    <a th:href="@{/headmaster/listAllStudents}">List All Students</a>

    <a th:href="@{/headmaster/listBatches}">List All Batches</a>

</head>
<body>


    <div th:if="${param.success}">
        <div class="alert alert-info">Student Details Updated!</div>
    </div>
    <div th:if="${param.deletesuccess}">
        <div class="alert alert-info">Student Details Updated!</div>
    </div>
    <div align="center" class="form1">
    <h1>List All Students</h1>
    <table class="table" border="1">
        <thead>
        <tr>
            <th> Student ID</th>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Address</th>
            <th> Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentID}"></td>
            <td th:text="${student.studentFirstName}"></td>
            <td th:text="${student.studentLastName}"></td>
            <td th:text="${student.studentAddress}"></td>
            <td th:text="${student.studentPhoneNumber}"></td>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</body>
</html>